{
  "expo": {
    "name": "mobile",
    "description": "This project is really great.",
    "slug": "mobile",
    "privacy": "public",
    "sdkVersion": "29.0.0",
    "platforms": ["ios", "android"],
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "splash": {
      "image": "./assets/splash.png",
      "resizeMode": "contain",
      "backgroundColor": "#ffffff"
    },
    "updates": {
      "fallbackToCacheTimeout": 0
    },
    "assetBundlePatterns": ["**/*"],
    "ios": {
      "supportsTablet": true
    },
    "facebookAppId": "",
    "facebookScheme": "",
    "facebookDisplayName": "ECommerce",
     "extra": {
      "googleAppId": {
        "ios": "540163356266-gr0ahds47h3oet22hkdnjhml8c2j1t6i.apps.googleusercontent.com",
        "android": "540163356266-f3e0uuua2ohrc4inf21bj58f7scd0n4t.apps.googleusercontent.com"
      }
    }
  }
}
